{% load static %}

<link rel="stylesheet" href="{% static 'main/style.css' %}">

{% if user.is_authenticated %}
  Привет {{ user.username }}!
  <div class="horizontal_container">
    <form action="{% url 'main:add_item' %}">
          {% csrf_token %}
          <button type="submit" name="add_item_button" value="add_item_button" class="btn-link">Добавить предмет</button>
    </form>
    <form action="{% url 'main:my_items' %}">
          {% csrf_token %}
          <button type="submit" name="my_items_button" value="my_items_button" class="btn-link">Мои предметы</button>
    </form>
  </div>

  <div class="horizontal_container">
    <p>Баланс: {{money}}</p>
    <th><form action="add_money/" method="post">
          {% csrf_token %}
          <label for="amount">Монет</label>
          <input type="number" id="amount" name="amount">
          <button type="submit" name="add_money_button" value="add_money_button" class="btn-link">Пополнить баланс</button>
        </form>
    </th>
  </div>

  <table>
    {% for sale in sale_list %}
          <tr>
              <th>{{sale.item.name}}</th>
              <th>{{sale.item.owner}}</th>
              <th>{{sale.price}}</th>
              <th><form action="buy/{{sale.item.id}}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="buy_button" value="buy_button" class="btn-link">Купить</button>
                  </form>
              </th>
          </tr>
    {% endfor %}
  </table>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
