{% if user.is_authenticated %}
  Привет {{ user.username }}!
  <a href="{% url 'main:add_item' %}">Добавить предмет</a>
  <a href="{% url 'main:my_items' %}">Мои предметы</a>

  <table>
    {% for sale in sale_list %}
          <tr>
              <th>{{sale.item.name}}</th>
              <th>{{sale.item.owner}}</th>
              <th>{{sale.price}}</th>
              <th><form action="buy/{{sale.item.id}}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="buy_button" value="buy_button" class="btn-link">Купить</button>
                  </form>
              </th>
          </tr>
    {% endfor %}
  </table>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
